/* components/Button/Button.css */
/* Inherits from global button style, can add specific overrides here */
.app-button.primary {
    background-color: var(--color-primary-gold);
    color: var(--color-text-light);
}

.app-button.secondary {
    background-color: var(--color-card-background);
    color: var(--color-primary-gold);
    border: 1px solid var(--color-primary-gold);
    box-shadow: none;
}

.app-button.full-width {
    width: 100%;
}